<div class="row">

    <div class="col text-center">

        <h1>Oops!</h1>

        <h1>409: Conflict</h1>
        
        <h1>La petición no se pudo completar porque hubo un problema con ella</h1>

    
    </div>

</div>
