<div class="container mt-3"> 

    <div class="row mb-3">

        <div class="col">

            <div class="card text-center bg-primary text-white">

                <div class="card-header">
                    <h3>CDA - EL ORO</h3>
                </div>

            </div>

        </div>

    </div>
    {{> tables/trabajadores}}

</div>